body{
    background-color: hsl(148, 38%, 91%);
    font-family: 'karla';
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-card{
    box-shadow: 4px 0 4px 0 rgba(0,0,0,0.2);
    background-color: hsl(0,0%,100%);
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    
    
}
.attribution{
    font-size: 11px; text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }
.container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "fname fname lname lname"
        "fname-input fname-input lname-input lname-input"
        "fname-error fname-error lname-error lname-error"
        "email-label email-label email-label email-label"
        "email-input email-input email-input email-input"
        "email-error email-error email-error email-error"
        "query-label query-label query-label query-label"
        "radio1 radio1 radio2 radio2"
        "query-error query-error query-error query-error"
        "message-label message-label message-label message-label"
        "message-textarea message-textarea message-textarea message-textarea"
        "message-error message-error message-error message-error"
        "checkbox checkbox checkbox checkbox"
        "consent-error consent-error consent-error consent-error"
        "submit submit submit submit";
    gap: 10px;
}

.fname {
    grid-area: fname;
    
}

.lname {
    grid-area: lname;
}
.fname-error{
    grid-area: fname-error;
    display: none;
    color: hsl(0, 66%, 54%);
}
.lname-error{
    grid-area: lname-error;
    display: none;
    color: hsl(0, 66%, 54%);
    margin-bottom: 20px;
}


.fname-input {
    grid-area: fname-input;
    height: 2rem;
    border-radius: 5px;
    border:1px solid hsl(186, 15%, 59%);
}
.fname-input:hover{
    border: 2px solid hsl(169, 82%, 27%);
    cursor:pointer;
}

.lname-input {
    grid-area: lname-input;
    height: 2rem;
    border-radius: 5px;
    border:1px solid hsl(186, 15%, 59%);
}
.lname-input:hover{
    border: 2px solid hsl(169, 82%, 27%);
    cursor:pointer;
}

.email-label {
    grid-area: email-label;
}

.email-input {
    grid-area: email-input;
    height: 2rem;
    border-radius: 5px;
    border:1px solid hsl(186, 15%, 59%);
}
.email-input:hover{
    border: 2px solid hsl(169, 82%, 27%);
    cursor:pointer;
}
.email-error{
    grid-area: email-error;
    display: none;
    color: hsl(0, 66%, 54%);
    margin-bottom: 20px;
}

.query-label {
    grid-area: query-label;
}

.radio1 {
    grid-area: radio1;
    border: 2px solid black;
    height: 2rem;
    border-radius: 5px;
    border:1px solid hsl(186, 15%, 59%);
    padding:5px;
}
.radio1:hover{
    border: 2px solid hsl(169, 82%, 27%);
    cursor:pointer;
    background-color: hsl(148, 38%, 91%);
}

.radio2 {
    grid-area: radio2;
    border: 2px solid black;
    height: 2rem;
    border-radius: 5px;
    border:1px solid hsl(186, 15%, 59%);
    padding:5px;
}
.radio2:hover{
    border: 2px solid hsl(169, 82%, 27%);
    cursor:pointer;
    background-color: hsl(148, 38%, 91%);
}
input[type="checkbox"]:checked {
    accent-color: hsl(169, 82%, 27%);
    
}
input[type="radio"]:checked {
    accent-color: hsl(169, 82%, 27%); 
}
.query-error{
    grid-area: query-error;
    display: none;
    color: hsl(0, 66%, 54%);
    margin-bottom: 20px;
}

.message-label {
    grid-area: message-label;
}

.message-textarea {
    grid-area: message-textarea;
    height: 5rem;
    border-radius: 5px;
    border:1px solid hsl(186, 15%, 59%);
}
.message-error{
    grid-area:message-error;
    display: none;
    color: hsl(0, 66%, 54%);
    margin-bottom: 20px;

}

.checkbox {
    grid-area: checkbox;
}
.consent-error{
    grid-area: consent-error;
    display: none;
    color: hsl(0, 66%, 54%);
    margin-bottom: 20px;
}

.submit {
    grid-area: submit;
    height: 2.5rem;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: hsl(169, 82%, 27%);
    border: none;
    color: hsl(0,0%,100%);
}
@font-face{
    font-family:'karla' ;
    src:url(./assets/fonts/Karla-VariableFont_wght.ttf);
}
.asterix{
    color:hsl(169, 82%, 27%);
    margin: 10px;
}
