body{
    background-color: hsl(148, 38%, 91%);
}
.container{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.main-card{
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    width: 40%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 20px;
    
}
@font-face {
    font-family: "ItalicKarla";
    src: url("./assets/fonts/Karla-Italic-VariableFont_wght.ttf");
}
@font-face {
    font-family: "karla";
    src: url("./assets/fonts/Karla-VariableFont_wght.ttf");
}

.mail{
display: flex;
flex-direction: column;
}
.names{
    display: flex;
    gap: 200px;
}
.name-inputs{
    display: flex;
    gap: 100px;
}
.query{
    display: flex;
    flex-direction: row;
    gap: 140px;
}
.general{
    border: solid 2px black;
}
.support{
    border: solid 2px black;
}
button{
    width: 100%;
}
.firstName{
    border-radius: 5px;
    width: 50%;
}
